<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Integrity Church</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
    <link href="{{ asset('css/app.css') }}" rel="stylesheet">
    <link href="css/integrity.css" rel="stylesheet">
    {% block addToHead %}
    {% endblock %}

</head>
<body style="padding-bottom: 73px">

<!-- Navigation -->
{% block header %}
    {% include 'header.twig' %}
{% endblock header%}
{% block content %}

{% endblock content %}
<!-- Footer -->
{% block footer %}
    {% include 'footer.twig' %}
{% endblock footer %}

<!-- Bootstrap core JavaScript -->
{#<script src="vendor/jquery/jquery.min.js"></script>#}

{#<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>#}
{#<script src="//unpkg.com/iview/dist/iview.min.js"></script>#}
<!-- Plugin JavaScript -->
{#<script src="vendor/jquery-easing/jquery.easing.min.js"></script>#}

<!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
{#<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>#}

<!-- Custom scripts for this template -->
<script src="{{ asset('js/app.js') }}"></script>
<!-- Page Specific -->
{% block scripts %}
{% endblock scripts %}
</body>

</html>
