<footer class="row">
    <div class="col">
        {% block mission %}
        {% endblock mission %}
    </div>
    <div class="col text-center">
        <p>Copyright &copy; {{ settings.church_name }}</p>
    </div>
    <div class="col text-center">
        <p><a href="{{ app_uri }}admin/settings">Admin Login</a></p>
    </div>
</footer>