<header style="font-family: 'Raleway', sans-serif">
    <img src="img/headerlogo.png" style=" background-color: black"/>
    <ul>
        <li>
            <a href="/about">About</a>
            <ul>
                <li><a href="/about/mission">Mission</a></li>
                <li><a href="/about/history">History</a></li>
                <li><a href="/about/sunday-mornings">Sunday Mornings</a></li>
                <li><a href="/about/leadership">Leadership</a></li>
                <li><a href="/about/integrity-kids">Integrity Kids</a></li>
                <li><a href="/about/contact-us">Contact Us</a></li>
            </ul>
        </li>
        <li>
            <a href="/about">Resources</a>
            <ul>
                <li><a href="/about/mission">Sermons</a></li>
                <li><a href="/about/history">Integrity Stories</a></li>
                <li><a href="/about/sunday-mornings">Blog</a></li>
                <li><a href="/about/discipleship-seminar">Discipleship Seminar</a></li>
                <li><a href="/about/finances">Finances</a></li>
            </ul>
        </li>
        <li>
            <a href="/about">Connect</a>
            <ul>
                <li><a href="/about/small-groups">Small Groups</a></li>
                <li><a href="/about/events">Events</a></li>
                <li><a href="/about/membership">Membership</a></li>
                <li><a href="/about/giving">Giving</a></li>
                <li><a href="/about/serve">Serve</a></li>
            </ul>
        </li>
    </ul>
    </div>
    </div>
    </nav>
</header>