<header style="font-family: 'Raleway', sans-serif">
    <img src="img/headerlogo.png" style=" background-color: black"/>
    <ul>
        <li>
            <a href="/about">About</a>
            <ul>
                <li><a href="/about/mission">Mission</a></li>
                <li><a href="/about/history">History</a></li>
                <li><a href="/about/sunday-mornings">Sunday Mornings</a></li>
                <li><a href="/about/leadership">Leadership</a></li>
            </ul>
        </li>
        <li>
            <a href="/about">About</a>
            <ul>
                <li><a href="/about/mission">Mission</a></li>
                <li><a href="/about/history">History</a></li>
                <li><a href="/about/sunday-mornings">Sunday Mornings</a></li>
                <li><a href="/about/leadership">Leadership</a></li>
            </ul>
        </li>
    </ul>
    </div>
    </div>
    </nav>
</header>