<header style="font-family: 'Raleway', sans-serif">
    <img src="img/headerlogo.png" style=" background-color: black"/>
    {% if headerLinks %}
        <ul>
            {% for key, parent in headerLinks %}
            <li>
                <strong>{{ key|title }}</strong>
                <ul>
                    {% for link in parent %}
                    <li><a href="/{{ link.parent }}/{{ link.path }}">{{ link.name }}</a></li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <h1>No Parents, No Rules!</h1>
    {% endif %}
</header>