{% extends 'base.twig' %}

{% block content %}
    <div id="jumbotron-index" class="jumbotron">
        <div id="jumbotron-img"></div>
        <div id="welcome-lg" class="container">
            {#<h1 class="display-3">Welcome-lg</h1>#}
            <p>This is a large line of text that can be a quote or a mission statement. Use it for whatever the heck you want.</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button" style="background: #60aec8; border: none">Learn more »</a></p>
        </div>
        <div id="welcome" class="container">
            {#<h1 class="display-3">Welcome</h1>#}
            <p>This is a normal line of text that can be a quote or a mission statement. Use it for whatever the heck you want</p>
            <p><a class="btn btn-primary btn-sm" href="#" role="button" style="background: #60aec8; border: none">Learn more »</a></p>
        </div>
    </div>

{% include 'sections/about.twig' %}
{% include 'sections/contact.twig' %}
{% include 'sections/download.twig' %}





<!-- Map Section -->
    <div id="map"></div>
{% endblock content %}
{% block scripts %}
<script src="js/index.js" />
{% endblock scripts %}
