@font-face {
    font-family: "Avenir LT Std 35 Light";
    src: url("../fonts/vendor/Avenir/AvenirLTStd-Light.otf");
}
@font-face {
    font-family: "Georgia";
    src: url("../fonts/vendor/Georgia/georgia.ttf");
}
html, body, #app {
    height: 100%;
    width: 100%;
}
html, body, main, nav {
    font-family: "Avenir LT Std 35 Light", sans-serif;
    line-height: 1.5;
}
.text-black {
    color: #000;
}
.bg-integrity {
    background-color: #60aec8;
}
.h1{
    font-size: 8vw;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: bolder;
}
.h3{
    font-size: 5vw;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}
.h4 {
    font-size: 5vw;
    font-weight: 600;
    margin-bottom: 0;
}
.h5{
    font-size: 4vw;
    /*letter-spacing: 1px;*/
    text-transform: uppercase;
}
.navbar-brand {
    padding-top: 10px;
    padding-left: 0.75rem;
}
#header-logo {
    height: 8vw;
    width: auto;
}
button.navbar-toggler:focus,button.navbar-toggler:active {
    outline: none !important;
    box-shadow: none;
}
button.navbar-toggler {
    padding-top: 10px;
    border: none;
}
#burger {
    width: 35px;
    height: 25px;
    position: relative;
    margin: 0 .75rem 0 auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}
#burger span {
    display: block;
    position: absolute;
    height: 5px;
    background: #000;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
#burger span:nth-child(1) {
    top: 0px;
    width: 100%;
}
#burger span:nth-child(2),#burger span:nth-child(3) {
    margin-left: 6.5px;
    top: 10px;
    width: 80%;
}
#burger span:nth-child(4) {
    top: 20px;
    width: 100%;
}
#burger.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}
#burger.open span:nth-child(2) {
    width: 100%;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
#burger.open span:nth-child(3) {
    width: 100%;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
#burger.open span:nth-child(4) {
    top: 18px;
    width: 0;
    left: 50%;
}
#index-header > nav {
    z-index: 1060 !important;
    transition: background-color 500ms ease-in-out;
}
.full-height {
    height: 100%;
}
.no-height {
    height: 0;
}
.modal{
    display: flex !important;
    flex-direction: column;
}
.modal-open {
    overflow: auto;
}
#navModal {
    width: 100%;
    background-color: #60aec8;
    /*transform: translateY(-100px);*/
    -webkit-transition: all .4s ease ;
    transition: all .4s ease ;
    moz-transition: all .4s ease ;
}
#navModal .modal-content {
    height: 100%;
    background-color: transparent;
    position: relative;
}
#navModal .modal-content,
#navModal .modal-header,
#navModal .modal-body,
#navModal .modal-footer {
    border: none;
}
.modal-footer {
    background-color: #60aec8;
    width: 100%;
    bottom:0;
}
.modal-footer img {
    width: 25%;
    height: auto;
    /*background-image: url('/integrity/public/img/logos/mm.png');*/
}

/*

vue-app

*/

#home-div {
    height:100%;
    width:100%;
    background-color: #60aec8;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
}

/*

vue-index

 */

#index-top {
    background-image: url('/integrity/public/img/billboard.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-clip-path: polygon(0 0, 100% 0,100% 100%, 0 85%);
    clip-path: polygon(0 0, 100% 0,100% 100%, 0 85%);
    padding-top: 20%;
    flex-grow: 2.5;
}
#index-top-main #welcome-text {
    border-bottom: white 2px solid;
    margin-left: 25vw;
}
#index-top-main .main-menu-icon {
    color: #60aec8;
    font-size: 7vw;
}
#index-mid {
    background-color: transparent;
    flex-grow: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#mid_flex1 {
    /*flex-grow: 2;*/
}
#mid_flex2 {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
    /*flex-grow: 0;*/
}
#mid_flex3 {
    /*flex-grow: 1.5;*/
}
#index-mid #mandm {
    font-weight: bolder;
}
#index-footer {
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: black;
    clip-path: polygon(0 15%, 100% 0,100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 15%, 100% 0,100% 100%, 0 100%);
}
#index-footer > div {
    padding-top: 5vh;
}
#index-footer .h4 {
    color: #60aec8;
}
.footer-link {
    text-decoration: none;
    color: #fff;
    font-size: 4vw;
    font-weight: 300;
    transition: color .5s ease;
}
.footer-link:hover {
    text-decoration: none;
    color: #C3E1EA;
}
#footer-icon-div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer-icon {
    color: #60aec8;
    font-size: 6vw;
    transition: color .5s ease;
}
.footer-icon:hover {
    color: #C3E1EA
}

/*

vue-beliefs

 */

#beliefs-div {
    /*flex-direction: column;*/
    /*display: flex;*/
    background-color: #60aec8;
    font-size: 1rem;
}
#beliefs-div > div > h5 {
    background-color: black;
}
#beliefs-div > div > #basic-beliefs {
    background-color: #60aec8;
}


#welcome-div {
    background-color: #ffffff;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: flex-start;*/
    /*align-items: stretch;*/
}
#welcome-video {

}
#services-text {
    padding: 8%;
}

#series-div > div.row.mt-5.mx-0 > div.col-12.col-md-6.pr-md-5.pl-md-4 {
    font-size: .9rem;
}
/*

responsive

 */

@media (min-width: 430px) {

}
@media (min-width: 567px) {

    .h1 {
        font-size: 5vw;
    }
    .h3 {
        font-size: 3vw;
    }
    .h4 {
        font-size: 3vw;
    }
    .h5 {
        font-size: 3vw;
    }

    #header-logo {
        height: 5vw;
    }

    /*

    vue-app-567+

    */



    /*

    vue-index-567+

    */
    #home-div {
        height: initial;
        justify-content: center;
    }
    #index-top {
        padding-top: 15%;
        flex: 2 50vw;
    }
    #index-top-main #welcome-text {
        margin-left: 50%;
    }
    #index-top-main .main-menu-icon {
        font-size: 5vw;
    }
    #index-mid {
        flex: 1 25vw;
    }
    #index-footer {
        flex: 1 25vw;
    }
    .footer-link {
        font-size: 3vw;
    }
    .footer-icon {
        font-size: 5vw;
    }

}
@media (min-width: 767.98px) {
    #header-logo {
        height: 50px;
    }
    #navModal {
        width: 35%;
        margin-left: auto;
    }
    #navModal > div > div.modal-body > a {
        font-size: 4vw;
    }
    .fullnav-link {
        font-size: 2vw;
        line-height: 2;
    }
    #series-div > div.row.mt-5.mx-0 > div.col-12.col-md-6.pr-md-5.pl-md-4 {
        font-size: 1rem;
    }
}
@media (min-width: 992px) {
    .fade-leave-to {
        transform: translateX(-1200px);
        /*opacity: 0*/
    }
    .fade-enter {
        transform: translateX(1200px);
        /*opacity: 0*/
    }
    .h4 {
        font-size: 2vw;
    }
    .h5 {
        font-size: 2vw;
    }
    #navModal {
        width: 25%;
    }
    #navModal > div > div.modal-body > a {
        font-size: 2.5vw;
    }
    .fullnav-link {
        font-size: 1.5vw;
    }

    /*

    vue-index-992+

    */

    #index-top {
        padding-top: 15%;
        /*flex: 2 50vh;*/
    }
    #index-mid {
        flex: 1 25vh;
    }
    #index-footer {
        flex: 1 25vh;
        padding-bottom: 1rem;
    }
    .footer-link {
        font-size: 2vw;
    }
    .footer-icon {
        font-size: 3vw;
    }

    /*

    app-welcome-767.98+

     */
    #welcome-body {
        display: flex;
        flex-direction: column;
    }
    #welcome-video {
        float: left;
        max-width: 840px;
        height: auto;
        margin-top: 5%;
        overflow: initial;
    }
    /*#welcome-video::before {*/
        /*-webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;*/
        /*box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;*/
    /*}*/
}
@media (min-width: 1200px) {
    #index-top {
        padding-top: 15%;
        flex: 2 100vh;
    }
    #index-mid {
        flex: 1 50vh;
    }
    #index-footer {
        flex: 1 35vh;
    }
    .fade-leave-to {
        transform: translateX(-2000px);
        /*opacity: 0*/
    }
    .fade-enter {
        transform: translateX(2000px);
        /*opacity: 0*/
    }
}
/*.navbar {*/
    /*background-color: transparent;*/
    /*transition: background-color .5s ease;*/
    /*-webkit-transition: background-color .5s ease;*/
/*}*/

/*.navbar.scrolling-navbar {*/
    /*-webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;*/
    /*transition: background .5s ease-in-out, padding .5s ease-in-out;*/
/*}*/
/*.navbar.nav-link {*/
    /*-webkit-transition: color .5s ease-in-out, padding .5s ease-in-out;*/
    /*transition: color .5s ease-in-out, padding .5s ease-in-out;*/
/*}*/

/*.top-nav-collapse {*/
    /*background-color: #0f212c;*/
/*}*/
/*.top-nav-link-collapse {*/
     /*color: #fff;*/
 /*}*/


/*#navbarSupportedContent > ul > li {*/
     /*transition: background-color .5s ease;*/
    /*-webkit-transition: background-color .5s ease;*/
 /*}*/
/*#navbarSupportedContent > ul > li > a {*/
     /*padding-bottom: 0;*/
 /*}*/
/*#navbarSupportedContent > ul > li:hover {*/
     /*background-color: rgb(6,13,17);*/
 /*}*/

/*body > nav > ul > li:hover > a {*/
    /*color: #60aec8;*/
/*}*/

/*body > nav > ul > li.nav-item.dropdown.show > div > a {*/
    /*line-height: 2;*/
/*}*/
/*.dropdown-menu {*/
    /*border-radius: 0;*/
    /*background-color: rgba(6,13,17,0.9);*/
    /*color: #fff;*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*border: none;*/
 /*}*/
/*.dropdown-menu .dropdown-item:hover {*/
    /*background-color: rgb(6,13,17);*/
    /*color: #60aec8;*/
/*}*/
/*.dropdown-item {*/
    /*color: #fff;*/
    /*transition: color .5s ease;*/
    /*-webkit-transition: color .5s ease;*/
/*}*/

/*#billboard-text > div > a {*/
    /*transition: background-color .5s ease;*/
    /*-webkit-transition: background-color .5s ease;*/

/*}*/
/*#billboard-text > div > a:hover {*/
    /*background-color: rgb(6,13,17);*/
/*}*/

.fade-enter-active, .fade-leave-active {
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
}
.fade-leave-to {
    transform: translateX(-1000px);
    /*opacity: 0*/
}
.fade-enter {
    transform: translateX(1000px);
    /*opacity: 0*/
}
/*.rotate {*/
    /*transform: scaleY(-1);*/
/*}*/
/*#dropdown10 > i {*/
    /*transition: all 150ms linear;*/
    /*-webkit-transition: all 150ms linear;*/
/*}*/
/*.h7 {*/
    /*font-family: Georgia serif;*/
    /*font-variant: all-small-caps;*/
    /*letter-spacing: 15px;*/
    /*color: #60aec8;*/
/*}*/

/*#action-button1, #action-button2 {*/
    /*width: 140px;*/
/*}*/
/*#index-footer,*/
/*#index-footer > #navbarCollapse > ul > li.nav-item.dropup.text-white.show > div{*/
    /*width: 100%;*/
    /*background-color: rgb(0, 0, 0);*/
    /*font-size: 0.7rem;*/
/*}*/
/*.card-columns {*/
    /*column-count: 1;*/
/*}*/
/*#series-dl-btn {*/
    /*font-size: 1rem;*/
/*}*/
/*#contact > div > div > div > a {*/
    /*font-size: 115%*/
/*}*/
/*.modal-menu {*/
    /*!*display: none;*!*/
    /*height: 100%;*/
    /*opacity: 0;*/
    /*left: 0;*/
    /*position: fixed;*/
    /*top: 0;*/
    /*width: 100%;*/
    /*background-color: black;*/
/*}*/
/*.modal2.show {*/
    /*display: flex;*/
    /*opacity: 1;*/
    /*flex-direction: column;*/
/*}*/
/*.modal2 {*/
    /*transition: opacity .5s ease-in-out 0s;*/
    /*-webkit-transition: opacity .5s ease-in-out 0s;*/
    /*-moz-transition: opacity .5s ease-in-out 0s;*/
    /*-o-transition: opacity .5s ease-in-out 0s;*/
/*}*/
/*.modal2__header,*/
/*.modal2__footer {*/
    /*!*height: 57px;*!*/
    /*width: 100%;*/
    /*padding: 0.5rem 1rem;*/
/*}*/
/*.modal2__content {*/
    /*height: 100%;*/
    /*width: 100%;*/
    /*overflow-y: auto;*/
    /*font-size: 1.5rem*/
/*}*/
/*.dropup .dropdown-toggle::after{*/
    /*display: none;*/
/*}*/
/*#navbarCollapse > div.modal2__content > ul > li.nav-item.dropup.text-white.px-3.show > div {*/
    /*font-size: 1rem;*/
/*}*/
/*.collapsing {*/
    /*transition: none;*/
    /*-webkit-transition: none;*/
/*}*/
/*#modal-header-logo{*/
    /*position: fixed;*/
    /*top: 10px;*/
    /*left: 10px;*/
    /*width: 50%;*/
    /*max-width: 204px*/
/*}*/
/*@media only screen and (max-width: 767.98px) {*/
    /*.navbar {*/
        /*background-color: #000;*/
    /*}*/
    /*body > nav > ul > li {*/
        /*line-height: 1.6;*/
        /*transition: background-color .5s ease;*/
        /*-webkit-transition: background-color .5s ease;*/
    /*}*/
    /*.dropdown-menu {*/
        /*border-radius: 0;*/
        /*background-color: #000000;*/
        /*color: #fff*/
    /*}*/
/*}*/

/*@media (min-width: 430px) {*/
    /*#footer-break > br {*/
        /*display: none;*/
    /*}*/
/*}*/
/*@media (min-width: 567px) {*/
    /*.card-columns {*/
        /*column-count: 2;*/
    /*}*/
    /*#action-button1, #action-button2 {*/
        /*width: 190px;*/
    /*}*/
    /*#series-dl-btn {*/
        /*font-size: 1.5rem;*/
    /*}*/
/*}*/
/*@media (min-width: 767.98px) {*/
    /*#series-dl-btn {*/
        /*font-size: .75rem;*/
    /*}*/
    /*.card-columns {*/
        /*column-count: 3;*/
    /*}*/
    /*#leadership > div > div > p {*/
        /*font-size: 75%;*/
    /*}*/
    /*#contact > div > div > div > a {*/
        /*font-size: 75%;*/
    /*}*/
    /*.fade-enter-active, .fade-leave-active {*/
        /*transition: all .4s ease ;*/
        /*-webkit-transition: all .4s ease ;*/
    /*}*/
    /*.fade-leave-to !* .fade-leave-active below version 2.1.8 *! {*/
        /*transform: translateX(-1000px);*/
        /*opacity: 0*/
    /*}*/
    /*.fade-enter {*/
        /*transform: translateX(1000px);*/
        /*opacity: 0*/
    /*}*/
/*}*/

/*@media (min-width: 1200px) {*/
    /*.card-columns {*/
        /*column-count: 4;*/
    /*}*/
    /*#series-dl-btn {*/
        /*font-size: 1.5rem;*/
    /*}*/

/*}*/

