<!-- Links Section -->
<section>
        <div>
            {% if section.heading %}<h2>{{ section.heading }}</h2>{% endif %}
            <div>
                <a href="#">
                    <div>
                        <span>Join Us for Worship</span>
                    </div>
                </a>
                <a href="#">
                    <div>
                        <span>Join A Smallgroup</span>
                    </div>
                </a>
                <a href="#">
                    <div>
                        <span>Contact Us</span>
                    </div>
                </a>
                <a href="#">
                    <div>
                        <span>Serve With Us</span>
                    </div>
                </a>
            </div>
        </div>

</section>