<div id="beliefs" class="pt-5">
    {#<div class="container-fluid sticky-top">#}

    {#</div>#}
    <div class="text-white mt-5">
        <h5 class="h5 pb-1 pt-2 px-4 d-inline-block align-middle">What is the gospel</h5>
        <div class="px-4">
            <p class="mb-2">Etiam vel pellentesque mi. Proin sed lorem faucibus, finibus dolor non, iaculis ipsum. Integer sed lectus mollis, mattis purus quis, convallis enim. Vivamus eleifend congue odio nec mollis. Ut ut velit vitae justo semper porttitor. Fusce blandit aliquam sagittis. Fusce eleifend quis elit quis consequat. Ut suscipit congue lacus vitae ultricies.</p>
        </div>
        <h5 class="h5 pb-1 pt-2 px-4 d-inline-block align-middle">Our basic beliefs</h5>
        <div id="basic-beliefs" class="px-4 row">
            <div class="col-12 col-lg-6 col-xl-4 mb-2">
                <span class="font-italic font-weight-bold" style="color: #000">The Scriptures</span><br>
                Sed lacinia rutrum lacus quis suscipit. Nunc rutrum et orci eget dictum. Aenean tempor lorem nulla, id sollicitudin risus dignissim nec. Donec vulputate turpis ut mollis ultricies. Sed quis venenatis felis. Nunc pretium fermentum elit, in aliquam ex euismod a. Aenean et augue nec mauris gravida fermentum ut et nisi.
            </div>
            <div class="col-12 col-lg-6 col-xl-4 mb-2">
                <span class="font-italic font-weight-bold" style="color: #000">The Trinity</span><br>
                Nunc in odio odio. Nulla facilisi. Pellentesque at porttitor quam. Phasellus a aliquam ligula, vel luctus dolor. Aliquam semper non est non pulvinar. Pellentesque posuere eleifend malesuada. Sed id imperdiet risus. Aenean placerat egestas mollis.            </div>
            <div class="col-12 col-lg-6 col-xl-4 mb-2">
                <span class="font-italic font-weight-bold" style="color: #000">Glory of God</span><br>
                Curabitur quis lacus molestie, laoreet odio id, fringilla ante. Cras fermentum massa nec eros scelerisque dignissim. Duis posuere nunc at velit bibendum tristique. Phasellus ut convallis enim, et tempus felis. Vivamus nisi nibh, fringilla sit amet dolor sit amet, venenatis ultrices mauris. In non ornare quam. Sed sapien odio, vulputate vel justo in, imperdiet tempus turpis.
            </div>
            <div class="col-12 col-lg-6 col-xl-4 mb-2">
                <span class="font-italic font-weight-bold" style="color: #000">Man</span><br>
                Curabitur quis lacus molestie, laoreet odio id, fringilla ante. Cras fermentum massa nec eros scelerisque dignissim. Duis posuere nunc at velit bibendum tristique. Phasellus ut convallis enim, et tempus felis. Vivamus nisi nibh, fringilla sit amet dolor sit amet, venenatis ultrices mauris. In non ornare quam. Sed sapien odio, vulputate vel justo in, imperdiet tempus turpis.
            </div>
            <div class="col-12 col-lg-6 col-xl-4 mb-2">
                <span class="font-italic font-weight-bold" style="color: #000">Penalty for Sin</span><br>
                Etiam vestibulum id nibh ut pellentesque. Phasellus posuere eleifend ante in tristique. Nunc vitae viverra nulla. Vivamus pellentesque sapien lacus, et iaculis augue finibus eu. Praesent nec nibh enim. Vestibulum id diam vitae ligula accumsan iaculis. Maecenas tellus dolor, iaculis ac hendrerit vel, posuere non diam. In sit amet enim nec nunc pulvinar ultrices vitae ut libero. Donec at viverra nisl. Nunc sapien nisi, gravida non urna a, fermentum euismod ex. Proin ut mattis libero. Phasellus faucibus turpis vitae aliquam ornare. Sed porttitor tristique turpis, nec varius tortor suscipit in. Etiam in fermentum metus. Aliquam in tempus dolor. Morbi vitae lorem tempor, pellentesque elit a, dictum lacus.            </div>
            <div class="col-12 col-lg-6 col-xl-4 mb-2">
                <span class="font-italic font-weight-bold" style="color: #000">Jesus - Fully God, Fully Man</span><br>
                Mauris ut nulla a lacus consequat malesuada. Aliquam viverra tortor ac lacinia tempus. Sed ullamcorper pellentesque facilisis. Nam ac posuere nisl. Aenean viverra mi tellus, eget facilisis leo suscipit et. Curabitur vel nibh vestibulum, accumsan mi ut, feugiat ante. Nunc interdum aliquam orci, nec laoreet dui sagittis ut.
            </div>
            <div class="col-12 col-lg-6 col-xl-4 mb-2">
                <span class="font-italic font-weight-bold" style="color: #000">Jesus Our Savior</span><br>
                Populo aeterno ei vel, ne eum fastidii tractatos signiferumque. Voluptatum voluptatibus an mea, affert dicunt expetendis sea cu, utroque.            </div>
            <div class="col-12 col-lg-6 col-xl-4 mb-2">
                <span class="font-italic font-weight-bold" style="color: #000">Victory Over Death</span><br>
                Ea ipsum cetero deleniti mel, legimus invidunt repudiare qui at. Labore pertinax in vix, cu dicta deserunt eam. Ea vix dicant ubique noluisse, et vero aperiam nam. Qui id invenire constituto.
            </div>
            <div class="col-12 col-lg-6 col-xl-4 mb-2">
                <span class="font-italic font-weight-bold" style="color: #000">Restoration</span><br>
                Curabitur quis lacus molestie, laoreet odio id, fringilla ante. Cras fermentum massa nec eros scelerisque dignissim. Duis posuere nunc at velit bibendum tristique. Phasellus ut convallis enim, et tempus felis. Vivamus nisi nibh, fringilla sit amet dolor sit amet, venenatis ultrices mauris. In non ornare quam. Sed sapien odio, vulputate vel justo in, imperdiet tempus turpis.
            </div>
            <div class="col-12 col-lg-6 col-xl-4 mb-2">
                <span class="font-italic font-weight-bold" style="color: #000">Faith Alone</span><br>
                Curabitur quis lacus molestie, laoreet odio id, fringilla ante. Cras fermentum massa nec eros scelerisque dignissim. Duis posuere nunc at velit bibendum tristique. Phasellus ut convallis enim, et tempus felis. Vivamus nisi nibh, fringilla sit amet dolor sit amet, venenatis ultrices mauris. In non ornare quam. Sed sapien odio, vulputate vel justo in, imperdiet tempus turpis.
            </div>
        </div>
    </div>
</div>